
  div.a {
     text-align: center;
     font-style : oblique ;
     font-size: 150%;
     height: 100%;
     width: 100%;
     display: flex;
     position: fixed;
     align-items: center;
     justify-content: center;
     color:yellow;
 }