body{
    /* background: url("./assets/pexels-photo-207301.jpeg") no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  div.a {
     text-align: center;
     font-style : oblique ;
     font-size: 150%;
     height: 100%;
     width: 100%;
     display: flex;
     position: fixed;
     align-items: center;
     justify-content: center;
     color:black;
 }